.header {
  height: 34vw;
  margin: 30px auto;
  /* access the img from root public folder */
  background: url('/header_img.png') no-repeat;
  background-size: contain;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  /* 50% of the parent element width */
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  /* set font size to whichever is larger */
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  color: white;
  font-size: 1vw;
}

.header-contents button {
  border: none;
  background-color: white;
  border-radius: 50px;
  padding: 1vw 2.3vw;
  color: #747474;
  font-weight: 500;
  font-size: max(1vw, 13px);
  cursor: pointer;
}
